
<div class="row">
    <% @products.each do |product| %>
       <div class="col-md-4 <%= product.brand %> product" style="">
               
          <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeed&text=<%= product.model %> \n by <%=product.brand %>" alt="<%= product.model %>" style="height: 225px; width: 100%; display: block;" >
                <div class="card-body">
                  <p class="card-text"><%=product.shortdesc%>.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to(product) do %>
                         <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <% end %>
                      <% if user_signed_in? %>
                        <%= link_to(add_to_shopping_carts_url(product)) do %>
                         <button type="button" class="btn btn-sm btn-outline-primary">Add to shopping cart</button>
                        <% end %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
       </div>

            
    <% end %>            
            

            
            
            

</div>
