<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @order.user %>
</p>

<p>
  <strong>Billingaddress:</strong>
  <%= @order.billingaddress %>
</p>

<p>
  <strong>Shippingaddress:</strong>
  <%= @order.shippingaddress %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
