<p id="notice"><%= notice %></p>

<p>
  <strong>Brand:</strong>
  <%= @product.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @product.model %>
</p>

<p>
  <strong>Variant:</strong>
  <%= @product.variant %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Shortdesc:</strong>
  <%= @product.shortdesc %>
</p>

<p>
  <strong>Longdesc:</strong>
  <%= @product.longdesc %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
